@import "./assets/css/animate.min";


.blinking {
animation: blinking 1s ease infinite;

}

.blinking_shifted {
            animation: blinking--shifted 1.6s ease infinite;
}

.spinning {
	   animation: spinning 1.8s linear infinite;
	-webkit-transform-origin: center;
}


.grow {
 animation: grow 1.2s linear infinite;
	transform-origin: left;
}

.slidein {
    //-webkit-transform: translateX(-100%);

}

@-webkit-keyframes blinking--shifted {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes blinking {
    0% {
        opacity: 1;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




@-webkit-keyframes spinning {
    0% {
                transform: rotateZ(0);
    }
    100% {
                transform: rotateZ(360deg);
    }
}


@-webkit-keyframes grow {
    0% {
                width: 0;
    }
    100% {
                width: 144px;
    }
}



/* REVEAL EFFECT */

.reveal-effect {
    position: relative;
    overflow: hidden;

    
    
}

.reveal-effect::after,
.reveal-effect::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.reveal-effect::after {
    background: transparent;
    z-index: 1
}

.reveal-effect.animate::before {
    background: $accent;
    animation: reveal .6s cubic-bezier(.77, 0, .175, 1) both;
    z-index: 2
}

.reveal-effect.animate::after {
    animation: revealBack .6s cubic-bezier(.77, 0, .175, 1) both
}

@keyframes reveal {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}

@keyframes revealBack {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}

@keyframes reveal-vertical {
    0% {
        transform: translateY(100%)
    }

    50% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}

// .fadeInUp {

//     transition: opacity .8s cubic-bezier(.34,.615,.4,.985),transform .8s cubic-bezier(.34,.615,.4,.985);

//     >:first-child {
//         transition-delay: .85s;
//     }
// }


.reveal {
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(.7,.085,.79,.415) .1s;
  //overflow: hidden;

  &__inner {
    overflow: hidden;
    position: relative;
  }
  

  &:before {
    background-color: $accent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(1);
    transform-origin: center right;
    transition: transform .6s cubic-bezier(.7,.085,.79,.415);
    will-change: transform;
    z-index: 20;
  }

  &:after {
    background-color: $accent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: center right;
      transition: transform .6s cubic-bezier(.565,.43,.24,.92) .45s;

    will-change: transform;
    z-index: 20;
    opacity: .4
  }



  figure {
    transform: translateX(100%);
    transition: transform .6s cubic-bezier(.7,.085,.79,.415) .1s;
     overflow: hidden;
    

    img {
      transform: scale(1.2);
          transform-origin: center center;
          transition: transform 0s .6s;
          will-change: transform;
    }
  }

  &.animate {

    transform: translateX(0);
  transition: transform .7s cubic-bezier(.565,.43,.24,.92) .1s;

    &:before {
      transform: scaleX(0);
      transition: transform .6s cubic-bezier(.565,.43,.24,.92) .45s;
      
    }

    


    figure {
      transform: translateX(0);
      transition: transform .7s cubic-bezier(.565,.43,.24,.92) .1s;

      img {
        transform: scale(1);
        transition: transform 1.3s cubic-bezier(.34,.615,.4,.985) .3s;
      }
      
    }

    &:nth-child(2n) {
        > div {
            transition-delay: .4s;
        }
    }

  }

  &.overlay {
    &:after {
      transform: scaleX(1);
      transition: transform .6s cubic-bezier(.7,.085,.79,.415);
      transform-origin: right;

    }
  }
}
