.btn {
  outline: 0 !important;

  &.btn-outline {
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
      padding: 0 2em;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: 1px;
      background: transparent;
      position: relative;
      overflow: hidden;
      transition: color .5s;
      display: inline-block;
      overflow: hidden;
      transition: border-color 0.3s, background-color 0.3s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);


        &-light {
          border-color: $blue-100;

          &:before {background: $blue-100;}

          &:hover {
            > span * {color: $blue-100;}

          }
        }

        &-primary {
          border-color: $primary;

            &:before {background: $primary;}
              > span * {color: $primary;}

            &:hover {
              > span * {color: $primary;}

            }
        }


        > span:last-child span {
          display: inline-block;
          padding: 1em 0;
          opacity: 0;
          transform: translate3d(0, -20px, 0);
          transition: opacity .4s cubic-bezier(.65,.025,.67,.36),transform .4s cubic-bezier(.65,.025,.67,.36);
        min-width: .5rem;
        }

  

         &:before {
          content: "";
          position: absolute;
          z-index: -1;
          height: 450px;
          width: 250px;
          //border-radius: 50%;
          left: -30px;
          bottom: 100%;
          transition: opacity .3s cubic-bezier(.65,.025,.67,.36),bottom .3s cubic-bezier(.65,.025,.67,.36);
          display: none;
         // transition-delay: 0;
         // display: none;

        }


        > span:first-child {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 1em 0;
        //  z-index: -1;
          -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
          transition: transform 0.3s, opacity 0.3s;
          -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        // transition-delay: .1s;
         > span {
          min-width: .5rem;

         }
        }


     

    

      &:hover {

        -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;

          &:before {
            bottom: -50px;
          //  transition-delay: .1s;

          }

          > span:first-child {
            opacity: 0;
              -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
          }

          > span:last-child span {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          



          @for $i from 1 through 30 {
               &:nth-child(#{$i}n) {
                  transition-delay: #{$i * 0.023}s;
              }
          }

  }


    }




      


  }


  &.btn-arrow {
    position: relative;
    border-radius: 0;
    border: 0 !important;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      &:before {
      background-position-x: 13px;

    }
    }

    &:before {
      content: "";
      display: block;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 15px;
      transition: background-position-x .4s cubic-bezier(.65,.025,.67,.36), background-color .4s cubic-bezier(.65,.025,.67,.36);

      background-image: url('../../assets/img/arrow-right.svg');
     // line-height: 20px;
      text-align: center;
      border: 1px solid $accent;
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: center;
    }


    &__big {
      margin-right: 25px;
      font-size: 18px;

      &:hover {
        &:before {
        background-position-x: 25px;
      //  background-color: $accent

      }
      }

      &:before {
        width: 50px;
        height: 50px;
      }

    }
  }
}


@keyframes anim-nanuk-1 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}

@keyframes anim-nanuk-2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: inherit;
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fff;
  }
  100% {
    color: #fff;
  }
}