// User variables:
$accent: #081831;
$primary: #081831;

$secondary: #EAF0F8;
$blue-100: #EAF0F8;

$blue-10: rgba($blue-100, .06);

$blue-900: #071429;
$font-400: upgrade-lights, sans-serif;
$font-700: upgrade, sans-serif;;
$font-heading: bely-display, sans-serif;;


.pt-xlg {
	padding-top: 160px !important;
}

.pt-xs {
  padding-top: 60px !important;
}

.pt-100 {
  padding-top: 100px !important;

}

.pt-sm {
  padding: 60px !important;
}

.pl-xs {
  padding-left: 60px !important;
}

.pl-xxl {
  padding-left: 160px !important;
}



.w-650 {
  position: relative;
  overflow: hidden;
  @media (min-width: 769px) {
    max-width: 650px !important;
  }
  margin: 0 auto !important;
}


.w-850 {
  position: relative;
  overflow: hidden;
  @media (min-width: 769px) {
    max-width: 896px !important;
  }
  margin: 0 auto !important;
}


.w-850 {
  position: relative;
  overflow: hidden;
  @media (min-width: 1024px) {
    max-width: 1000px !important;
  }
  margin: 0 auto !important;
}

.bg-primary {
	color: #fff;
}

.bg-secondary {
	background: $secondary;
}




.tt-h {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30vw;

  >  {
    margin-left: 1.5rem
  }

}


.title-xxl {
  font-size: 150px;
  font-weight: 700;
  font-family: $font-700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $primary;
  text-transform: uppercase;
  
  &.tt-w {
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
  }

  &.tt-b {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: $primary;

  }

  &.tt-n {
  -webkit-text-fill-color: $primary;
  -webkit-text-stroke-color: transparent;

  }


}

.tt-v {
  transform: rotate(-90deg) translateY(100%);
  bottom: 0;
  left: -20px;
  transform-origin: left;
  letter-spacing: 20px;
  line-height: 0;
  position: absolute;
}

.upside-down {
  transform: rotate(-90deg) translateX(100%) ;
  position: absolute;
  bottom: 0px;
  right: -10px;
  transform-origin: right;
  letter-spacing: 20px;
  line-height: 0;

      &-right {
        bottom: 0;
        left: 40px;
        right: auto;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: left;
      }
}

.st0,.cls-1{fill:$blue-100;}
.st1,.cls-2{fill:$accent;}

a {
    cursor: none;
  }


.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  &--outer {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    z-index: 12000;
    opacity: 0.2;
  }
  &--inner {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    z-index: 11000;
    background: #fff;
  }
}


.cover--full {
  position: relative;
  overflow: hidden;

img, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}

.fedUp {
  @media (min-width: 769px) {
   top: calc(-20vw / 2);
       position: relative;
       background: white;
       padding: 3.5rem;
       width: 100%;
  }
}


