@import "_vars";
@import "./assets/css/bootstrap.min";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $accent;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.7;
	font-family: $font-400;
	font-weight: 400;
	font-style: normal;

	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font-heading;

}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	min-height: 100vh;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	min-height: 100vh;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin:  0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	
	//font-size: 12px;
	//font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	outline: 0 !important;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
	text-decoration: none !important
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
//	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Page Loaders
--------------------------------------------------------------*/

/* Page Loader */
#preloader {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $accent;
}

$tiles: 5;


.loader {
  $parent: &;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
  
  #{$parent}__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity .5s ease;
    
    svg {
      transform-origin: 0 0;
    }
  }
  
  #{$parent}__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: $accent;
    transition: width .7s ease;
    
    @for $i from 0 through $tiles {
      &:nth-child(#{$i}) {
        top: calc(#{$i - 1} * 20%);
        transition-delay: #{($i - 1) * 0.2s};
      }
    }
  }
  
  &--active {
    width: 100%;
    transition-delay: 0s;
    
    #{$parent}__icon {
      opacity: 1;
      transition: opacity .5s 1.4s ease;
    }
    
    #{$parent}__tile {
      width: 100%;

      @for $i from 0 through $tiles {
        &:nth-child(#{$i}) {
          transition-delay: #{($i - 1) * 0.2s};
        }
      }
    }
  }
}

/*--------------------------------------------------------------
## Import Needed
--------------------------------------------------------------*/

@import "header";
@import "footer";
@import "portfolio";

@import "_animations";
@import "_buttons";

section {
	position: relative;
	padding-top: 160px!important;
	padding-bottom: 160px!important;


}

h3.pinline {
	position: relative;
	text-align: center;
	//margin-bottom: 80px;

	svg {
		display: block;
		width: 5px;
		height: 70px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		top: -2px;
	}

	#section-title {
		padding-top: 30px;
		display: block;

	}

	> span {
		position: relative;
		//padding-top: 100px;
		text-transform: uppercase;
		display: inline-block;



		// &:after,&:before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 50%;
		// 	//transform: translateX(-50%);
		// 	background: $primary;
		// }

		// &:before {
		// 	height: 60px;
		// 	width: 1px;
		// 	top: 0;

		// 	opacity: 0;
		// 	    transform: scale(0);
		// 	    transition: opacity .6s cubic-bezier(.65,.025,.67,.36),transform .6s cubic-bezier(.65,.025,.67,.36);

		// }


		// &:after {
		// 	height: 5px;
		// 	width: 5px;
		// 	top: 70px;
		// 	transform: rotate(-45deg) translateX(-50%);
		// }


	}
}


.section{
	&__heading {
		margin-bottom: 7.6rem;

		&.animate {

			span:before {
				    opacity: 1;
				    transform: scale(1);
				    transition: opacity .8s cubic-bezier(.34,.615,.4,.985),transform .8s cubic-bezier(.34,.615,.4,.985);
				
			}

		}
	}

	&-testimonials {
		h4 {
			position: relative;
			margin-bottom: 1.8rem;

			&:before {
				height: 30px;
				width: 1px;
				position: absolute;
				content: "";
				background: $accent;
				top: 0;
				left: -15px;
			}
		}

		.inner {
		min-height: 250px;
		position: relative;
		overflow: hidden;

	}

	}

	&-services{
		overflow: hidden;
	}
}

.service {

	&-col {
	text-align: center;
	font-size: 14px;

	svg {
		height: 130px;
		position: relative;

		#write-right {
			overflow: hidden;
			position: relative;
		}
	}
	}

	&-title {
		font-weight: 400;
		font-family: $font-700;
		color: $accent;
		margin: 20px auto;
		display: block;
		text-transform: uppercase;
		letter-spacing: 1.23px;
	}

	
}

@media screen and (min-width: 53em) {
.site-content {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    z-index: 100;
    margin-bottom: 500px;
    min-height: 100vh;
    background-color: white;
}

}


.bg-background{

    position: relative;
    overflow: hidden;
    padding: 10.9rem 0 9.4rem;
    @media (min-width: 1240px) {
        //padding: 7rem 0;
      //  margin-top: 25.6rem;
    }

&__bg {
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.2);
    transform-origin: center center;
    transition: transform 0s .6s;
    will-change: transform;
    z-index: 1;
}

&__inner {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform .6s cubic-bezier(.7,.085,.79,.415) .1s;
    width: 100%;
    z-index: 1;

    &:before {
    background-color:$accent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(1);
    transform-origin: center top;
    transition: transform .6s cubic-bezier(.7,.085,.79,.415);
    z-index: 2;
    }

    &:after {
    background-color:$accent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin:  bottom top;
    transition: transform .6s cubic-bezier(.565,.43,.24,.92) .45s;

    z-index: 3;
    opacity: .6
    }


}

}


.bg-background.animate {

    .bg-background__inner {
        transform: translateY(0);
        transition: transform .7s cubic-bezier(.565,.43,.24,.92) .1s;
        will-change: transform;

        &:before {
            transform: scaleY(0);
            transition: transform .6s cubic-bezier(.565,.43,.24,.92) .45s;
        }

        &:after {
            transform: scaleY(1);
            transition: transform .6s cubic-bezier(.7,.085,.79,.415);

        }
    }

    .bg-background__bg {
        transform: scale(1);
        transition: transform 1.3s cubic-bezier(.34,.615,.4,.985) .3s;
        will-change: transform;
    }

}

.bg-square {
  
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;

    &__inner {
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 100%;
    	width: 400px;
    	padding: 5rem;


    }
}


.coa {

		&__square {
		padding: 5rem;
		width: 550px;
		min-height: 400px;
		display: flex;
		//align-items: center;
		flex-direction: column;
		justify-content: center;


		h2 {
			margin-bottom: 2rem;
			font-size: 2.5rem;
		}
		}

		&__inner {
			overflow: hidden;
			position: absolute;
			transform: translateX(-100%);
			transition: transform .6s cubic-bezier(.7,.085,.79,.415) .1s;
			bottom: -100px;
			left: 41%;
			@media (min-width: 1024px) {
				width: 27.5rem;
				height: 24.5rem;

			}

			&:before {
				    background-color: $primary;
				    bottom: 0;
				    content: "";
				    left: 0;
				    position: absolute;
				    right: 0;
				    top: 0;
				    transform: scaleX(1);
				    transform-origin: center right;
				    transition: transform .6s cubic-bezier(.7,.085,.79,.415);
				    will-change: transform;
				    z-index: 20;
				}
			    
		}


		&__wrapper {
			margin: 0 auto;
			max-width: 992px;
			padding-bottom: 10rem;
			position: relative;
			overflow: hidden;

			.coa-img {
				position: relative;

				width: 100%;
				height: 100%;

				    transform: translateX(100%);
				    transition: transform .6s cubic-bezier(.7,.085,.79,.415) .1s;

				   
				img {
					transform: scale(1.2);
					transform-origin: center center;
					transition: transform 0s .6s;
					will-change: transform;
				}
			}

			

		&.animate {
			 .coa__inner {

			 	    transform: translateX(0);
			 	    transition: transform .7s cubic-bezier(.565,.43,.24,.92) .1s;
			 	

			 &:before {
			    transform: scaleX(0);
			    transition: transform .6s cubic-bezier(.565,.43,.24,.92) .45s;
			}

		}

			.coa-img {
				    transform: translateX(0);
				    transition: transform .7s cubic-bezier(.565,.43,.24,.92) .1s;
				

			}
		}

	}

}



.is-fedUp {
	min-height: 470px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro {
	&__title {
		margin-bottom: 2rem;

	}
	&__heading {
		//font-size: 14px;
		.decorative {
			font-family: $font-400;
			font-size: 50px;
			display: block;
			-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				small {
				    font-size: .375em;
				}
		}
	}
}

.why {
&__inner {
	margin-bottom: 2rem

}

}


.about {
&__img {
@media (min-width: 769px) {
	height: 27rem;
}
}

}


.services {
	&__img {
		left: 0;
		top: 0;
		z-index: -1;
		position: absolute;
		//width: 100%;
		height: 100%;
		background-color: $accent;
		max-width: 120px;
		padding: 0 45px;
		display: flex;
		align-items: center;
		//opacity: 0;
	    //transform: translateX(0%);
	   // transition: opacity .6s cubic-bezier(.65,.025,.67,.36),transform .5s cubic-bezier(.65,.025,.67,.36);
	    transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
	    img {
	        width: 100%;
	        height: auto;
	    }
	}
&__block {
	position: relative;
	    z-index: 1;
	    display: flex;
	    flex-direction: column;
	    flex-shrink: 0;
	    color: white;



span {
	font-family: $font-700;
	font-weight: 700;
}

svg {
	width: 42px;
	.st1, .cls-2{
	    fill: $blue-100;
	}

	.st0, .cls-1 {
	    fill: $accent;
	}



* {
    animation: none !important;
}

}


}

&__content {
	padding: 5rem;
}
&__row {
	margin-bottom: 5rem;
	margin-top: 1rem
}

&__header {
	margin-top: 4rem;

	a {
		color: $accent;
		margin-bottom: 1.8rem;
		display: block
	}
}


&__inner {
	margin-top: 4rem;

}
}


#sv4{
	//top: -50px;
	position: absolute;
	   right: 0;
	   display: flex;
	   flex-direction: column;
	   flex-shrink: 0;
	   width: 20%;
	   height: 100vh;
	   max-width: 300px;
	   overflow: scroll;
	   background-color: $primary;
	   transition: padding-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
	   background-clip: content-box;
	   z-index: 1;

	   @media screen and (min-width: 992px) {
	          // display: block;

	          height: calc(100vh - 50px);
	       
	   }

	&:hover {
	    padding-left: 200px
	}

	&.fixed {
    position: fixed;
    bottom: 0;
}

&.pinned {
    bottom: 0;
}
}

.service-slide {
position: relative;
z-index: 1;
display: flex;
flex-direction: column;
width: 100vw;
padding: 50px 0 0;
-webkit-box-sizing: unset;

@media (min-width: 992px) {
	flex-direction: row;
	padding: 0;
}

&::after {
    flex-shrink: 0;
    width: 20%;
    height: 1px;
    max-width: 300px;
    content: "";
    -webkit-box-sizing: unset;
    box-sizing: unset;
}
}

.left__col {
	position: relative;
	    z-index: 1;
	    display: flex;
	    align-content: flex-start;
	    flex-basis: 100%;
	    flex-grow: 1;
	    flex-wrap: wrap;
	    box-sizing: border-box;
	@media (min-width: 992px) {
		flex-direction: row;
		padding: 0 0 0 0px;
	}
}

.service-group {
	position: relative;
	    display: flex;
	    flex-direction: column;
	    padding: 40px 20%;
	    background-color: $accent;

	    &:not(:last-child) {
	    	border-bottom: 1px solid $blue-10
	    }


	    &:hover {
	    	.services__img {
	    	transform: translateX(calc(-100% + 1px))

	    	}
	    }

}




.contact {
&__intro {
	text-transform: uppercase;
	text-align: left;

	.pl__heading {
		width: 85vw;
	}
}

&__info {
	font-size: 1.7rem;
}

&__photo {
	//padding-bottom: 2.5rem;
	img {
		top: 0;
		transition:  .3s;
		z-index: 1;

		

		&:last-child {
			z-index: 0;
			top: -40px;
			left: 40px;

			position: absolute;

		}
	}

	&:hover {
		img:first-child {z-index: -1}
	}
}

&__form {

	.input {
		position: relative;
		    z-index: 1;
		    display: flex;
		    flex-wrap: nowrap;
		    margin: 1.2em 0;
		    flex-direction: column;

	}
	form {
		margin-top: 3rem;
		label {
			font-family: $font-heading;
			font-size: 20px;
		}
		input[type=text],input[type=email],textarea {
			background: transparent;
			width: 100%;
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid $accent;
			margin: auto;
			margin-bottom: 30px;
			position: relative;
			outline: 0 !important;
			padding: 1.23em 0.5em;
			transition: border .35s ease;
			max-height: 150px;


			&:focus {
			//border: 2px solid $accent;

			}

			& ~ label {
			  position: absolute;
			  left: 0;
			  width: 100%;
			  top: 4px;
			  left: 4px;
			  color: $accent;
			  transition: font .35s ease, top .35s ease, left .35s ease;
			  letter-spacing: .5px;
			  z-index: -1;
			}

			&:focus ~ label, 
			&.not-empty ~ label {
				left: 0px;
				top: -18px;
				font-size: .9rem;
				transition: font .3s ease, top .3s ease, left .3s ease;
			}

		}
		
	}
}
}