.footer {
	position: fixed;
	z-index: -1;
	bottom: 0;
	height: 500px;
	width: 100%;

	&-form {
		background: $blue-900;
		padding: 35px;
		position: absolute;
		top: 0;
		width: 100%;
		color: white;
		text-align: center;
		display: flex;
		align-items: center;
		height: 100px;
		justify-content: center;
	h3 {
		margin: 0;
		padding: 0;
	}
	}
	.site-info {
		position: fixed;
		width: 100%;
		bottom: 0;
		padding: 10px 0;
		background: $accent;
		color: $blue-100;
		text-align: center;
		font-size: 13px;
		letter-spacing: 1px;

		&:before {
			content: "";
			width: 37%;
			height: 1px;
			top: 0;
			position: absolute;
			background: $blue-100;
			left: 50%;
			transform: translateX(-50%);
			opacity: .6
		}

		a {
			color: white;
		}

	}
	&-grid {
		background: $accent;
		position: absolute;
		width: 100%;
		bottom: 39px;
		padding-top: 60px;
		padding-bottom: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(100% - 139px)


	}


	&-widgets {
		display: grid;
		width: 100%;
		color: $blue-100;
		font-size: 14px;

		> *{
			padding-left: 2rem;
		}

		img {
			width: 150px;
			height: auto;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				a {
					color: white;
					text-transform: uppercase;
					letter-spacing: 1.2px;
					padding: .5rem 0;
				}
			}
		}



		@media (min-width: 769px) {
					grid-template-columns: 30% 23.3333% 23.3333% 23.3333%;
					grid-template-rows: 100%;
					
		}
		
	}

	&-title {
	    text-transform: uppercase;
	    font-family: $font-700;
	    font-weight: 400;
	    letter-spacing: 2px;
	    position: relative;
	    padding-bottom: 1.2rem;
	    margin-bottom: 20px;
	    display: block;

	    &:before {
	    	content: "";
	    	width: 50px;
	    	height: 1px;
	    	bottom: 0;
	    	position: absolute;
	    	background: $blue-100;
	    }

	}
}

