body.menu--active {
  //position: fixed;
  overflow: hidden;
}

.main--header {
  position: fixed;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  z-index: 199;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}



.navbar {
  padding: 0 1.50rem;
  z-index: 99;

  #menu-main-menu {
    width: 100%;
    justify-content: space-between;
  }

  &-brand {
    background: $blue-900;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    padding:0 15px;

    img {
    width: 100%;
    height: auto;
    }
  }

  .nav-link {
    /* Effect 5: same word slide in */
      overflow: hidden;
      padding: 0 4px;
      text-transform: uppercase;
      opacity: 1;
      color: $secondary;
      font-size: 14px;
      letter-spacing: 1.75px;
      outline: none !important;
    

   span {
      position: relative;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    &:before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      font-weight: 700;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }

    &:hover span,
    &:focus span {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;


 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

}

/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.pl {
 

 
overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    bottom: 0;
    background-size: cover;
    background-position: center top;
    opacity: 0; //
    z-index: -1;

    &:before {
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $accent;
      content: "";
      position: absolute;
      z-index: 0;
      opacity: .45;
    }
  }
  
 

  &__heading {
    z-index: 3;
    text-align: center;
    margin: 0 auto;
   // opacity: 0;
    color: white;

    line-height: 1;
    letter-spacing: 0.2vw;
    width: 70vw;
    overflow: hidden;
   
  @media screen and (min-width: 992px) {
 padding-left: 160px;
 padding-right: 160px;
   
  }



    
  }
}


/* Slide Out */


nav.menu {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 // position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(1,100%);
  z-index: 200;
  transform: translate(101%, -101%);

}

.menu--open {
  pointer-events: auto;


}

.menu__item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.menu__item-inner {
  overflow: hidden;
  transform: translate3d(100%,0,0);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__item--1 .menu__item-inner {
  background: $secondary;
}


.menu__item--2 .menu__item-inner {
  background: $accent;
  opacity: .45;
}

.mainmenu__item {
  opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
  position: relative;
  overflow: hidden;
  transition: color 0.1s;
  margin: 0.25rem 0;
  display: block;
}

.menu--open .action--menu {
  pointer-events: none;
}

.action {
  background: none;
  border: 0;
  cursor: pointer;
}

.action--menu {
  pointer-events: auto;
  z-index: 1000;

  padding: 0 1.5rem;
  -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      height: 100%;

  &.btn-quote {
    border-radius: 0;
    border: 0;
    background-color: $secondary;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .916rem;
    line-height: 1.23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
  }

}

.action--close {
  position: absolute;
  top: 1.5rem;
  right: 1.75rem;
  z-index: 1000;
  opacity: 0;
  padding: 0 0.5rem;
  border: 0;
  background: transparent;
  border-radius: 0;
}

.icon--menu {
  width: 2rem;
}

.icon--close {
  width: 1rem;
}

@media screen and (min-width: 53em) {

  nav.menu {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;

        grid-template-columns: 60% 40%;
        //  grid-template-rows: 60% 40%;
          grid-template-areas: 
                  "item2 item1";
      
  }

.menu__item--1 {
  grid-area: item1;

}


.menu__item--2 {
   grid-area: item2;
   cursor: pointer;

}

@media screen and (min-width: 53em){
.menu__item {
    height: 100%;
}

}

}




.page-header {
  position: relative;
  &--content {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    color: white;

    .intro-text {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 40px;
      z-index: 3;
      font-size: 14px;
      color: white;

    }

  }

  &--secondary {
    margin-top: -100px;
    display: grid;
    grid-template-columns: 85%;

    .page-overflow {
      padding-left: 15vw;
      position: relative;

    .row {
      padding-top: 160px;   
      padding-bottom: 160px;   

       }

     }
  }
}