.portfolio-item {
    height: 28vw;
    width: 28vw;
    margin: 0 2% 3% 4%;
    transition: all 0.3s;
    position: relative;
}


/* Parallax */
.portfolio-parallax {
    height: 100%;
    position: absolute;
    width: 100%;
}

.portfolio-item a {
    background-color: $blue-100;
    height: 100%;
    width: 100%;
    position: absolute;
}

.portfolio-item.wide a {
    top: 20%;
    height: 60%;
}

.portfolio-content {
    height: 100%;
    position: relative;
}

.portfolio-img-content {
    height: 100%;
    position: absolute;
    width: 100%;

    transform: scale(1.2);
    transform-origin: center center;
    transition: transform 0s .6s;
    will-change: transform;

    &.reveal-effect {
        
        transform: scale(1);
        transition: transform 1.3s cubic-bezier(.34,.615,.4,.985) .3s;
    }
}

/* Project 1 */
.portfolio-text-content {
    left: 60px;
    opacity: 0;
    position: absolute;
    top: 60px;
    min-width: 300px;
    z-index: 555
}

.portfolio-text-content.hover {
    opacity: 1
}

.title-caption-tooltip .portfolio-text-content h3 {
    display: block;
    margin-bottom: 10px;
}

.title-caption-tooltip .portfolio-text-content h3 span {
    background-color: #000;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    width: auto;
}

.title-caption-tooltip .portfolio-text-content span {
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    padding: 5px;
}




.grid {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;


&__item {
    margin: 0 0 4rem;
    width: 100%;
    overflow: hidden;
    
 a   > div {
        height: 100%;
    }

    figure {
        height: 100%;
    }

&-img {
    max-width: 100%;
    display: block;
    cursor: pointer;
&--large {
    pointer-events: none;
    position: fixed;
    opacity: 0;
}

}

&-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 1.25rem 0;
    line-height: 1;
    color: var(--color-title);
}

&-text {
    color: var(--color-grid-text);
    font-size: 0.95rem;
}

}

@media screen and (min-width:53em) {
           // display: grid;
            grid-template-columns: 31% 36% 33%;
            width: 100%;
            max-width: 1200px;
            margin: 10vh auto 0;
            padding: 0;
        
        &__item {
            height: 22vw;
            width: 27%;
            margin: 0 2% 3% 4%;
            transition: all 0.3s;

            a {
                background-color: $blue-100;
                height: 100%;
                width: 100%;
                position: absolute;
                overflow: hidden;
            }

            
        
       &:first-child {
            //padding-top: 35%;
            //width: 31%;
        }
        &:nth-child(odd)  {
          a {
            top: 20%;
            height: 80%;
          }
        }

    }

}

}


.segmented-control {
    list-style-type: none;
    padding: 0;
    margin-bottom:3rem;
    margin-top: 3rem;
    display: block;
 li {
    font-size: 16px;
        display: inline-block;
        font-weight: 400;
        margin-left: 15px;
        padding: 2px 10px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
    &:before {
        background-color: #ff0000;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: 12px;
        width: 0;
        transition: all 0.5s ease-in-out;
 }

 &.active {
    &:before {
    width: 20px;
   } 
 }

}
}




.showcase__img {
    @media screen and (min-width:53em) {

  //  height: 37.5rem;
}


}