/*!
Theme Name: afresh
Theme URI: https://afreshcreative.ca/
Author: Underscores.me
Author URI: https://afreshcreative.ca/
Version: 1.0.2


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */



 html {
 	line-height: 1.15; /* 1 */
 	-webkit-text-size-adjust: 100%; /* 2 */
 }

/* Sections
========================================================================== */

/**
 * Remove the margin in all browsers.
 */

 body {
 	margin: 0;
 }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

 h1 {
 	font-size: 2em;
 	margin: 0.67em 0;
 }

/* Grouping content
========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

 hr {
 	box-sizing: content-box; /* 1 */
 	height: 0; /* 1 */
 	overflow: visible; /* 2 */
 }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 pre {
 	font-family: monospace, monospace; /* 1 */
 	font-size: 1em; /* 2 */
 }

/* Text-level semantics
========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

 a {
 	background-color: transparent;
 	text-decoration: none !important;
 	outline: none !important
 }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

 abbr[title] {
 	border-bottom: none; /* 1 */
 	text-decoration: underline; /* 2 */
 	text-decoration: underline dotted; /* 2 */
 }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

 b,
 strong {
 	font-weight: bolder;
 }

 small {
 	font-size: 70%;
 	font-weight: 300;
 }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 code,
 kbd,
 samp {
 	font-family: monospace, monospace; /* 1 */
 	font-size: 1em; /* 2 */
 }

/**
 * Add the correct font size in all browsers.
 */

 small {
 	font-size: 80%;
 }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
 	font-size: 75%;
 	line-height: 0;
 	position: relative;
 	vertical-align: baseline;
 }

 sub {
 	bottom: -0.25em;
 }

 sup {
 	top: -0.5em;
 }

/* Embedded content
========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

 img {
 	border-style: none;
 }

/* Forms
========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
 	font-family: inherit; /* 1 */
 	font-size: 100%; /* 1 */
 	line-height: 1.15; /* 1 */
 	margin: 0; /* 2 */
 }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
 input { /* 1 */
 	overflow: visible;
 }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
 select { /* 1 */
 	text-transform: none;
 }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
 	-webkit-appearance: button;
 }

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
 	border-style: none;
 	padding: 0;
 }

/**
 * Restore the focus styles unset by the previous rule.
 */

 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
 	outline: 1px dotted ButtonText;
 }

/**
 * Correct the padding in Firefox.
 */

 fieldset {
 	padding: 0.35em 0.75em 0.625em;
 }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

 legend {
 	box-sizing: border-box; /* 1 */
 	color: inherit; /* 2 */
 	display: table; /* 1 */
 	max-width: 100%; /* 1 */
 	padding: 0; /* 3 */
 	white-space: normal; /* 1 */
 }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

 progress {
 	vertical-align: baseline;
 }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

 textarea {
 	overflow: auto;
 }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

 [type="checkbox"],
 [type="radio"] {
 	box-sizing: border-box; /* 1 */
 	padding: 0; /* 2 */
 }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
 	height: auto;
 }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

 [type="search"] {
 	-webkit-appearance: textfield; /* 1 */
 	outline-offset: -2px; /* 2 */
 }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

 [type="search"]::-webkit-search-decoration {
 	-webkit-appearance: none;
 }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

 ::-webkit-file-upload-button {
 	-webkit-appearance: button; /* 1 */
 	font: inherit; /* 2 */
 }

/* Interactive
========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

 details {
 	display: block;
 }

/*
 * Add the correct display in all browsers.
 */

 summary {
 	display: list-item;
 }

/* Misc
========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

 template {
 	display: none;
 }

/**
 * Add the correct display in IE 10.
 */

 [hidden] {
 	display: none;
 }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0;
}



ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}


/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/

/*ol, ul, li {
    list-style: none;
}
*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}


ul.wp-block-gallery{
	margin: 0;
}


.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-item img {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



@font-face {
	font-family: "Shoelaces";
	src: url("fonts/Shoelaces.eot");
	src: 
	url("fonts/Shoelaces.woff") format("woff"),
	url("fonts/Shoelaces.otf") format("opentype"),
	url("fonts/Shoelaces.svg#shoelaces") format("svg");
	font-display: auto;
}


@font-face {
	font-family: 'Goku';
	src: url('fonts/Goku.eot');
	src: url('fonts/Goku.eot?#iefix') format('embedded-opentype'),
	url('fonts/Goku.woff2') format('woff2'),
	url('fonts/Goku.woff') format('woff'),
	url('fonts/Goku.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}




body,html {
	margin: 0;
	padding: 0;
}

body {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #272727;
	letter-spacing: 1px;
} 

a {
	color: #b2cee8;
	text-decoration: none
}

.no-border {
	border: 0 !important;
}

.no-flex {
	display: block !important; 
}

header.site-header {
	display: flex;
	padding:  0;
	width: 100%;
	z-index: 8;
	height: 120px;
	top: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background: #EBF0F6;
	position: fixed;
		z-index: 99999;

	&.header-fixed {
		padding: 10px 0;
		height: auto;
		background: #ebf0f6;
		z-index: 99999;
		position: fixed;
		transition: 0.3s;

		.navbar.navbar-light  {
			a.navbar-brand img {
    width: 136px;
}

		.navbar-collapse {
    padding: 0;
			}

		}
	}


	@media (max-width: 998px) {

		height: auto;


	}

}



header.site-header.header-fixed:before {
	display: none !important
}

header.site-header.header-fixed .navbar {
	padding: 0.2rem 1rem;
}




header.site-header.hide-socials .social-buttons {
	display: none;
}



.site-content {
	position: relative;
	margin-top: 120px;

	@media screen and (max-width: 998px) {
		margin-top: 0
	}

	@media screen and (max-width: 768px) {

		margin-top: 81px !important;
	}
}


.site-content  {

	img.swirle {
		width: 189px;
		right: 16px;
		bottom: 25px;
		position: absolute;
		height: 77px;
		z-index: 9;
	}

}

span.heart {
	background-image: url('img/heart.svg');
	background-size: cover;
	background-repeat: no-repeat;
}


.social-buttons {
	z-index: 9;
	position: relative;
}
.site-header.flipped {
	position: relative;
	width: 100%;
	height: 167px;
	background: #EBF0F6;
}
.site-header.flipped:after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 0;
	width: 100%;
	border-right: 0 solid transparent;
	border-top: 7vw solid transparent;
	border-left: 100vw solid #fff;
	border-bottom: 0 solid transparent;
	outline: 1px solid transparent;
	padding-bottom: 5px;
	z-index: 1;
	transition: border-top .3s ease;

}

/** Navbar **/

.navbar.navbar-light  {
	padding: 1.9rem 1rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;

	.menu-left-menu-container {
		margin: 0 -1.5rem;
	}



	.navbar-collapse {

		margin: 0 -1.5rem;


	}

	a.navbar-brand img {
		width: 187px;
		display: inline-block;
		position: relative;
		transition: 0.3s;
	}

	.navbar-brand {
		padding: 0 25px;
	}


	.nav-link {
		color: #272727;
	}



	.navbar-item a {
		hyphens: red;

	}

}

.nav-item {
	font-size: 1rem;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-weight: 500;
	line-height: 0.9rem;
	font-family: Goku;
}

.nav-item .decorative {
	display: block;
	text-transform: lowercase;
	letter-spacing: 0px;
	font-size: 1rem;
}

.nav-link span.main-link {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	z-index: 0
}



.nav-link span.main-link::after {
	content: '';
	width: 0px;
	height: 7px;
	left: 0;
	-webkit-transition: width 0.15s;
	transition: width 0.15s;
	background: #EBF0F6;
	position: absolute;
	z-index: -2;
	bottom: 0;
	display: inline-block;
} 

.nav-link:hover span.main-link::after,
.nav-link:focus span.main-link::after {

	width: 100%;
	

}



.decorative {
	font-family: Shoelaces, cursive; 
}
.site-header ul {
	margin: 0;
	padding: 0;
}

ul.header-socials {
	margin: 0;
	padding: 0;
}
.header-socials li {
	position: relative;
}
.header-socials a {
	text-indent: -9999px;
	position: absolute;
	display: inline-block;
	z-index: 1;
	color: #272727;
	cursor: pointer;
	width: 100%;
	top: 0;
	left: 0;
}

.social-buttons ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-right: 15%;
}


.social-buttons li {
	display: inline-block;
	padding: 0 2px;

}

.social-buttons li a {
	background: #272727;
	color: white;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	border-radius: 50%
}


.slanted {
	position: relative;
	width: 100%;
	height: 500px;
	background: #EBF0F6;

}
.slanted:before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -4px;
	right: 0;
	height: 0;
	width: 100%;
	border-left: 100vw solid #fff;
	border-top: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 4vw solid transparent;
	padding-top: 5px;
	z-index: 2;
	transition: border-bottom .3s ease;
}
.slanted:after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 0;
	width: 100%;
	border-left: 0 solid transparent;
	border-top: 4vw solid transparent;
	border-right: 100vw solid #fff;
	border-bottom: 0 solid transparent;
	outline: 1px solid transparent;
	padding-bottom: 5px;
	z-index: 1;
	transition: border-top .3s ease;
}



.reverse {
	position: relative;
	width: 100%;
	min-height: 500px;
	background: #EBF0F6;

}
.reverse:before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -4px;
	right: 0;
	height: 0;
	width: 100%;
	border-right: 100vw solid #fff;
	border-top: 0 solid transparent;
	border-left: 0 solid transparent;
	border-bottom: 7vw solid transparent;
	padding-top: 5px;
	z-index: 2;
	transition: border-bottom .3s ease;
}
.reverse:after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 0;
	width: 100%;
	border-right: 0 solid transparent;
	border-top: 7vw solid transparent;
	border-left: 100vw solid #fff;
	border-bottom: 0 solid transparent;
	outline: 1px solid transparent;
	padding-bottom: 5px;
	z-index: 1;
	transition: border-top .3s ease;
}


.slant-reverse {
	position: relative;
	width: 100%;
	min-height: 500px;
	background: #EBF0F6;

}

.slant-reverse:after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 0;
	width: 100%;
	border-right: 0 solid transparent;
	border-top: 7vw solid transparent;
	border-left: 100vw solid #fff;
	border-bottom: 0 solid transparent;
	outline: 1px solid transparent;
	padding-bottom: 5px;
	z-index: 1;
	transition: border-top .3s ease;
}



.slightly {
	position: relative;
	width: 100%;
	height: 600px;
	background: #EBF0F6;

}
.slightly:before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -4px;
	right: 0;
	height: 0;
	width: 100%;
	border-left: 100vw solid #fff;
	border-top: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 7vw solid transparent;
	padding-top: 5px;
	z-index: 2;
	transition: border-bottom .3s ease;
}



.wrapper {
	max-width: 950px;
	margin: 0 auto;
}


.side-image {
	max-width: 500px;
	background-size: cover;
	position: relative;
	z-index: 3;
	margin-top: -30px;
	width: 60%;
}
/*
.side-image:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: 29px;
    left: 0;
    height: 0;
    width: 100%;
    border-left: 0 solid transparent;
    border-top: 1.6vw solid transparent;
    border-right: 503px solid #EBF0F6;
    border-bottom: 0 solid transparent;
    outline: 1px solid transparent;
    padding-bottom: 5px;
    z-index: 1; 
    transition: border-top .3s ease;
}
*/
.welcome {
    margin: 0;
    background: #EBF0F6;
    padding-bottom: 0;
    min-height: 600px;
    position: relative;

    &:after {
-webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 100%;
    border-left: 100vw solid #ebf0f6;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 12vw solid #fff;
    padding-top: 5px;
    z-index: 2;
    -webkit-transition: border-bottom .3s ease;
    -o-transition: border-bottom .3s ease;
    transition: border-bottom .3s ease;
}





}

section.welcome.slanted {
	padding-bottom: 0;
	height: auto;
}

section.welcome.slanted:after {
	display: none
}

section.welcome.slanted:before {

	border-bottom: 8vw solid transparent;


}


.welcome-text {
	width: 100%;
	position: relative;
	z-index: 4;
	padding: 30px  0;
	text-align: center;
	color: #272727;
}

.welcome-text .cursive {


	font-family: Shoelaces, cursive;
}


.welcome-heading {
	font-weight: 700;
	left: 17px;
	z-index: 0;
	line-height: 40px;
	top: 7px;
	letter-spacing: 4px;
	font-size: 36px;
	margin: 0vw auto 2vw;
	text-transform: lowercase;


}

.welcome-heading span.in-heart:before {
	content: "";
	background-image: url(img/heart.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.welcome-text a {
	background: #272727;
	color: #EBF0F6;
	padding: 10px 12px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 10px 0 0;
	font-size: 14px;
	display: inline-block;
}

.welcome-text p {
	z-index: 3;
	position: relative;
	margin-bottom: 0;
}

.welcome-blob {
	border: 2px dashed #272727;

	padding: 30px;
	font-weight: 300;
	font-size: 1.2rem;
	position: relative;
	max-width: 600px;
	margin: 30px auto 20px;
	background: white;

	@media screen and (max-width: 998px) {

		border: 0;
		padding: 10px;
		max-width: 100%;
		font-weight: 300;
		font-size: 1.2rem;
		position: relative;
		margin: 0px auto 20px;
		background: transparent;

	}

	@media screen and (max-width: 480px) {
		font-size: 1rem;
		position: relative;
		max-width: 100%;
		margin: 1.5rem auto 0;
		padding: 10px;

	}

}


.welcome {

		@media screen and (max-width: 998px) {

    min-height: 452px;
}
	@media screen and (max-width: 768px) {
		padding: 3vw;

	}
}

.welcome-text
{

	@media screen and (max-width: 998px) {

		.welcome-heading {
			padding: 16px;
			background: white;
			border: 1px solid;
			font-size: 18px;
			max-width: 500px;

		}


		a {
			margin: 15px 0 0;
		}


	}

	@media screen and (max-width: 768px) {
		
		.welcome-heading {
			margin-top: 2vw;

			span.in-heart:before {

				width: 13px;
				height: 13px;
				margin-left: 5px;
			}

		}
	}

}

@media (min-width: 769px) and (max-width: 998px) {


	.navbar{
		flex-direction: row;
	}

	.navbar .container {
		flex-direction: column;

	}



	.navbar-brand {
		padding: 0;
		margin-right: 0;
		margin-bottom: 1rem
	}

}


@media (min-width: 768px) {

	.navbar-collapse {
		border-top: 1px solid;
		border-bottom: 1px solid;
		padding: .8rem 0;
		justify-content: center;
		transition: 0.3s
	}

	.nav-socials {
		width: 103px;
	}

}

section {
	margin: 7vw auto;
}

header.four-header {
	align-items: center;
	justify-content: center;
	display: flex;
}

section.error-404.not-found {
	/* margin-top: 3vw; */
	margin-bottom: 1vw;
}

section.error-404.not-found  input.search-field {
	padding: 0.5em 1.2em;
	margin-right: -4px;
	margin-bottom: 13px;
}

h1.four-title {
	font-family: Goku, 'Abril Fatface', cursive;
	font-size: 152px;
	text-align: center;
	position: relative;
	line-height: 132px;
	text-transform: uppercase;
}


h1.four-title:before {
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-family: Shoelaces;
	content: "oh";
	position: absolute;
	background: #ebf0f6;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	text-transform: lowercase;
}

header.four-header {
	position: relative;
}

header.four-header:after {
	border-right: 1px solid #272727;
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: 26px;
}

.widget ul {
	padding-left: 0;
}



section.about {
	margin-bottom: 10rem;
	margin-top: 0
}

section.about .beneath{
	color: #272727;
	text-decoration: none !important

}


ul.about-classes {
	padding-left: 0;
	margin: 2vw auto;
	text-align: center;
	list-style-type: none;
}

ul.about-classes li {
	padding: 10px;
	font-size: 0.9rem;
	margin-bottom: 30px;
	position: relative;

}

ul.about-classes li:not(first-child) {
	border-bottom: 1px solid #272727;

}

ul.about-classes li:after {
	left: 50%;
	position: absolute;
	content: "";
	width: 1px;
	height: 25px;
	top: -30px;
	z-index: 9;
	background: #272727;
}

ul.about-classes li:first-child:after {
	display: none
}

ul.about-classes  b {
	display: block;
	text-transform: uppercase;
	font-weight: 700
}


.about p {
	font-size: 1.2rem;
}

.inner-wrapper {
	max-width: 950px;
	margin: 0 auto;
	z-index: 30;
	position: relative;
}






.testimonials {
	margin: 1rem auto;
	font-size: 1.2rem;
	text-align: center;
	position: relative;
	border-top: 1px solid #272727;
	padding-top: 4rem;
}



section.services {
	margin: 20px auto 2rem;
	position: relative;

@media screen and (min-width: 769px) {
	margin: -200px auto 2rem;


}

	@media screen and (max-width: 768px) {
		padding-bottom: 0
	}

	@media screen and (max-width: 480px) {
		margin-top: 67px;

	}
}

.numbering {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.nombre {
	position: relative;
	font-family: Goku, 'Abril Fatface', cursive;
	font-size: 3.5rem;
	display: inline-block;
}

.nombre:before {
	height: 55px;
	width: 1px;
	content: "";
	position: absolute;
	right: 3px;
	top: -49px;
	background-color: #272727;
	z-index: 5
}

.does {
	display: inline-block;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	padding-left: 0.5rem;
}

.made {
	font-weight: 500;
	display: block;
	color: #c0d5e2;
	margin-top: 0.4rem;
}


.owl-carousel {
	margin-top: 0.4rem;
}
.owl-item p {
	margin-bottom: 0.8rem;
}


.owl-nav {
	margin-top: -40px;
}

.owl-nav button {
	display: inline-block;
	cursor: pointer;
	background: transparent;
	border: 0;
	padding: 0;
	outline: none;
	transition: 0.3s;
	font-size: 1.2rem;
	position: relative;
	z-index: 9;
	color: #272727
}

.owl-nav button.disabled {
	opacity: 0.3;
	cursor: default;
}

.underneath {
	font-family: Goku, 'Abril Fatface', cursive;
	text-transform: lowercase;
	font-size: 2.5rem;
	position: relative;
	padding: 0 10px;
	z-index: 1;
	margin-top: 10px;
	display: inline-block;

	&:before {
		content: "";
		background: #EBF0F6;
		height: 8px;
		width: 100%;
		position: absolute;
		bottom: 20px;
		left: 0;
		z-index: -1
	}

	@media screen and (max-width: 480px) {
		font-size: 27px;

		&:before {
			bottom: 3px;
		}

	}
}


section.brands  {


	img {
		max-width: 100%
	}


}
.brand-img {
	margin: 1rem auto;
	text-align: center;
}

section.brands p {
	font-size: 1.2rem;
}


section.featured-blog.slightly {
	padding-top: 12vw;
}

.rotate {

	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

span.beneath.pin-beneath {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 0;
	padding-top: 0;
}

.pin-for-later p {
	font-size: 1.4rem;
	margin-top: 1.2rem;
	padding-left: 4px;
}

.pin-for-later {
	margin: 2em auto;
	border-top: 1px solid #eaeaea;
	padding: 4rem 0;
	border-bottom: 1px solid #eaeaea;

}

a.pin-style {
	position: absolute;
	background: #272727;
	top: 14px;
	left: 30px;
	padding: 3px 15px;
	opacity: 0;
	transition: 0.3s;
	font-size: 1.3rem;
	color: #dfe4ea;
	font-family: Shoelaces, cursive;

}


.pin-hover:hover  a.pin-style{
	opacity: 1;
}

.blog-heading {
	text-transform: uppercase;
	letter-spacing: 9px;
	font-weight: 700;
	margin-left: 0px;
	writing-mode: vertical-rl;
	font-size: 1rem;
	position: relative;
	top: -13px;
	z-index: 9;
}

.blog-heading:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 55px;
	background: #272727;
	top: -70px;
	left: 12px;
}

.content-area .blog-heading {

	top: 7px;
}


h3.blog-title {
	font-weight: 700
}

a.read-it {
	border: 0;
	background: #272727;
	padding: 10px 25px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
	position: absolute;
	right: 0;
}


.blog-excerpt {
	background: white;
	padding: 30px;
	font-size: 1.2rem;
	margin-top: 70px;
	margin-left: -6rem;
}

.blog-image {
	float: left;
}
section.instagram-feed {
	margin: 0 auto 0;
	padding: 9vw 0 3vw;
	height: auto;

	@media screen and (max-width: 768px) {

		.col-md-12.col-lg-9 {
			order: 2;
		}


	}
}



.instagram-row img{
	max-width: 100% 
}

.follow-text {
	letter-spacing: 0;
	font-size: 1.5rem;
	position: relative;
	padding: 10px 0;
	font-weight: 500
}

.follow-text a {

	color: #c0d5e2;
	text-decoration: none;
}

.follow-text:before {
	content: "";
	width: 45px;
	height: 1px;
	left: 0px;
	position: absolute;
	background: #272727;
	top: 0;
}

.follow-text:after {
	content: "";
	width: 45px;
	height: 1px;
	left: 0px;
	position: absolute;
	background: #272727;
	bottom: 0;
}


.footer {
	background: #272727;
	padding: 2rem 0 1rem;
	color: #EBF0F6;  

}

.footer a {
	color: #EBF0F6;
	font-weight: 300
}

.footer a:hover {
	text-decoration: none;

}

.footer-row {
	border-bottom: 1px solid #EBF0F6;
	border-top: 1px solid #EBF0F6;
	align-items: center;
}

.footer-block {
	position: relative;
	display: flex;
	min-height: 145px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer-block:after {
	content: "";
	background: #EBF0F6;
	width: 1px;
	height: 100%;
	position: absolute;
	right: -15px;
	top: 0;
}


.footer-block.no-border:after {
	display: none !important

}

.footer ul  {
	padding-left: 0;
	margin: 0;
}

.footer p {
	margin-bottom: 0
}

.footer-nav li {
	list-style-type: none;
	display: inline-block;
}


.footer-nav li a {
	padding: 0.9em;
}

.footer-socials li {
	display: inline-block;
	font-size: 1.5rem;
	margin-right: 10px;
	position: relative;

}

.footer-socials li:last-child {
	margin-right: 0 !important;

}

.footer-socials a {
	text-indent: -9999px;
	position: absolute;
	display: inline-block;
	z-index: 1;
	color: #272727;
	cursor: pointer;
	width: 100%;
	top: 0;
	left: 0;
}

.footer-nav  ul {
	margin: 0
}
.footer-nav li {
	list-style-type: none;
}

.footer-nav .widget_nav_menu {
	margin-bottom: 0;
}

section.copyright {
	padding: 1.0rem 0 0;
	text-align: center;
	margin: 0;
}

.footer {


	.col-md-4:last-of-type, .col-md-4:first-of-type {

		@media screen and (min-width: 768px) {
			    border-right: 1px solid;
   			 border-left: 1px solid;
		}
	}
}



/*** Blog ***/

.featured.slanted {
	margin-bottom: 2vw;
}

.feature {
	background: white;
	position: relative;
	z-index: 5;
	text-align: center;
	margin-top: -17vw
}

.feature img {
	max-width: 100%
}

.feature h4 a {
	font-weight: 300;
	font-size: 1.2rem;
	margin-top: 10px;
	color: #272727;
}

.feature .feature-blob {
	padding: 20px;
}

.featured span.blog-heading {
	left: -45px;
	z-index: 9;
}

.beneath {
	text-transform: uppercase;
	font-size: 0.8rem;
	position: relative;
	padding: 0 10px;
	z-index: 1;
	display: inline-block;
	font-weight: 500
}

.beneath:after {
	content: "";
	background: #EBF0F6;
	height: 8px;
	width: 100%;
	position: absolute;
	bottom: 2px;
	left: 0;
	z-index: -1
}


a.beneath.beneath-change {
	color: #272727;
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 20px;
}




.content-area {
	margin-top: 2rem;
	margin-bottom: 4rem;
	position: relative;

}

.content-area img {
	max-width: 100%;
}

.content-area .entry {
	font-size: 1.2rem;
	font-weight: 300;
	padding-left: 24px;
} 


.content-area .entry h2 a {
	color: #272727;
	text-decoration: none !important

}

.content-area .entry span.beneath a {
	color: #272727;
	text-decoration: none !important

}

.entry h2 {
	margin-bottom: 1.3rem;
	margin-top: 1.3rem;

}

.content-area .blog-heading {
	letter-spacing: 3px;
	font-size: 1rem;
	left: -25px;
	position: absolute;
}

a.read-more {
	display: block;
	margin-top: 3rem;
}

a.read-more span {
	border: 0;
	background: #272727;
	padding: 14px 25px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.7rem;
	margin-top: 12px;
	right: 0;
	outline: none;
	cursor: pointer;
	display: inline-block;
}

h1.post-heading {
	margin: 2rem;
	text-align: center;
	font-weight: 300
}

h1.post-heading span {
	font-weight: 600
}

section.showcase.web-image {
    margin-top: 3rem;
}

.post-photo {
	position: relative;
	text-align: center;
}

.site-content .post-photo img.swirle {
	width: 189px;
	left: -100px;
	top: 37px;
	position: absolute;
	height: 77px;
}

article.feed-area {
	margin-top: -1.5rem;
	z-index: 8;
	position: relative;
}

.feed-section {
	margin: 2rem 0
}


.feed-entry {
	font-size: 1.1rem;
	margin: 2rem 0
}

span.share-text {
	text-transform: uppercase;
	letter-spacing: 9px;
	font-weight: 500;
	margin-left: 0px;
	writing-mode: vertical-rl;
	font-size: 0.8rem;
	position: relative;
	top: 0px;
}


span.share-text:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 55px;
	background: #272727;
	top: -70px;
	left: 9px;
}

.share-block {
	max-width: 48px;
	position: absolute;
	left: -61px;
}

.share-block.portfolio-share{
	right: -61px;
	left: auto;
	top: 0;
}

.post-socials {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.post-socials a {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-block;
	line-height: 35px;
	margin-bottom: 10px;
	color: #272727;
	text-decoration: none !important
}

.blog-inner {
	margin-top: 1vw;
}

section.blog-type {
	margin-top: 0;
}

.feed-area img {
	max-width: 100%
}

.post-meta {
	padding: 20px;
	border-top: 1px solid #272727;
	border-bottom: 1px solid #272727;
	margin: 2rem 0;
	text-align: center;
}

.post-meta a {
	display: block;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.post-meta ul {
	padding: 0
}

.post-meta ul li {
	list-style: none;
	border-right: 1px solid #272727;
}

.post-meta ul li:last-child {
	border-right: 0 !important

}

.post-meta ul  {
	margin: 0;

}

aside.sidebar img {
	max-width: 100%
}

aside.sidebar .widget {
	margin-bottom: 2rem;
}



.blockquote, blockquote {
	margin-bottom: 23px;
	color: #272727;
	font-size: 16px;
	line-height: 1.8;
	border-left: 4px solid #EBF0F6;
	padding-left: 1em;
	position: relative;
}

blockquote:after {
	position: absolute;
	content: "\f10e"!important;
	font-family: "FontAwesome";
	font-size: 37px;
	line-height: 37px;
	display: table;
	transform: translateY(-50%);
	color: #EBF0F6;
	top: 50%;
	z-index: -1;
	left: 20px;

}

.afresh-post-prev-next-buttons {
	padding-left: 15px;
	padding-right: 15px;
	margin: 20px auto 5em;
}

.afresh-post-prev-next-buttons .col-sm-6 {
	padding-left: 0;
	padding-right: 0;
}

.afresh-post-prev-next-buttons .pagination-item {
	display: table;
	width: 100%;
}

.afresh-post-prev-next-buttons .pagination-img {
	display: table-cell;
	vertical-align: middle;
	width: 70px;
	}.afresh-post-prev-next-buttons .pagination-img {
		display: table-cell;
		vertical-align: middle;
		width: 70px;
	}

	.pagination-item.prev .pagination-content {
		padding-left: 25px;
	}

	.afresh-post-prev-next-buttons .pagination-content {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		font-size: 14px;
	}

	.afresh-post-prev-next-buttons .pagination-content a {
		color: #272727;
		text-decoration: none !important
	}

	.afresh-post-prev-next-buttons .pagination-img img {
		width: 100px;
	}

	.afresh-noimg, img.size-full, img.size-large, img.wp-post-image {
		height: auto;
		max-width: 100%;
	}

	.afresh-post-prev-next-buttons span.afresh-nav-sub {
		font-size: 12px;
		color: #b1b1be;
		letter-spacing: 1.5px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.afresh-post-prev-next-buttons span.afresh-nav-sub {
		display: block;
		color: #959595;
	}

	.afresh-post-prev-next-buttons span.afresh-nav-title {
		display: block;
		font-size: 0.9rem;
		line-height: normal;
		font-weight: 600;
	}




	.pagination-item.next .pagination-content {
		text-align: right;
		padding-right: 25px;
	}

	.post-area {
		max-width: 725px;
		margin: 6vw auto 15vw;
	}




	/*** Page ***/

	.page-header {
	}

	.page-heading {
		position: relative;
		background: white;
		left: 70px;
		z-index: 2;
		padding: 50px 0px;
		top: 6px;
		width: 100%;

	}


	.page-heading:before {
		height: 14px;
		width: 100px;
		background: #EBF0F6;
		position: absolute;
		top: 15%;
		/* transform: translateY(-50%); */
		right: -56px;
		content: "";
		display: none;

	}

	.page-heading:after {
		content: "";
		width: 169px;
		background-image: url(img/swatch.png);
		background-size: cover;
		left: 100%;
		top: -37px;
		position: absolute;
		height: 77px;
		transform: translateX(-50%);
	}

	.page-heading h3 span {
		position: relative;
	}

	.page-heading h3 span:before {
		content: "";
		background-image: url('img/heart.svg');
		background-size: cover;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		position: absolute;
		right: -25px;
	}

	.page-wrapper {
		max-width: 1100px;
		margin: 0 auto;
	}


	.page-image {
		position: relative;
		width: 100%;
		background: #fff;
		overflow: hidden;

		&:after {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			content: "";
			position: absolute;
			bottom: -80px;
			left: 0;
			height: 0;
			width: 100%;
			border-left: 0 solid transparent;
			border-top: 4vw solid transparent;
			border-right: 100vw solid #fff;
			border-bottom: 0 solid transparent;
			outline: 1px solid transparent;
			padding-bottom: 5px;
			z-index: 1;
			-webkit-transition: border-top .3s ease;
			-o-transition: border-top .3s ease;
			transition: border-top .3s ease;
		}

	}
// .page-image:before {
//  box-sizing: border-box;
//   content: "";
//   position: absolute;
//   top: -4px;
//   right: 0;
//   height: 0;
//   width: 100%;
//   border-right: 60vw solid #fff;
//   border-top: 0 solid transparent;
//   border-left: 0 solid transparent;
//   border-bottom: 7vw solid transparent;
//   padding-top: 5px;
//   z-index: 2;
//   transition: border-bottom .3s ease;
// }


.page-heading p {
	margin-bottom: 0;
	font-size: 1.2rem;
	z-index: 3;
	position: relative;
}

section.page-inner {
	margin: 0 auto;
}

section.move-up {
	background: white;
	max-width: 1020px;
	z-index: 8;
	position: relative;
	padding: 4vw 5vw 0vw;
	font-size: 1.2rem;

	&.process {
		padding-top: 9vw
	}

	@media screen and (min-width: 999px) {
		margin-top: -15rem;

	}

	@media screen and (max-width: 998px) {
		padding-top: 0;

	}


	&:before {
		box-sizing: border-box;
		content: "";
		position: absolute;
		top: -4px;
		right: 0;
		height: 0;
		width: 100%;
		border-left: 100vw solid #ebf0f6;
		border-top: 0 solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 4vw solid transparent;
		padding-top: 5px;
		z-index: 2;
		transition: border-bottom .3s ease;

		@media screen and (max-width: 998px) {

			display: none;
		}
	}

}


section.move-up:after {
	top: -44px;
	content: "";
	position: absolute;
	right: 71px;
	background-image: url(img/hearts.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100px;
	height: 133px;
	z-index: 10;
}



.offer_row {
	margin: 3rem 0;

}

.offer_row p {
	font-size: 1.2rem
}


.square {
	height: 400px;
	width: 100%;
	background: #EBF0F6
}

.packages h3  {
	font-size: 1.1rem
}

h3.service_offered {
	font-size: 1.3rem;
}

.packages h3 span {
	position: relative;
	font-family: Goku, Abril, sans-serif;
	margin-right: 70px;
}

.packages h3 span:after {
	position: absolute;
	height: 1px;
	width: 45px;
	content: "";
	background: #272727;
	top: 42%;
	left: 35px;
}

.packages ul {
	padding-left: 1rem;
	margin: 0 auto 1.2rem;
/*      columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;*/
}

.packages ul li {
	list-style-type: circle;
	position: relative;
	margin-left: 40px;
	font-size: 1.1rem;
}

.packages h4 {
	font-size: 1rem;
}

.included {
	margin-top: 2rem;
}

.investment-packages {
	margin-top: 1.22rem;
}

/*.packages ul li:after {
    position: absolute;
    height: 1px;
    width: 27px;
    content: "";
    background: #272727;
    top: 42%;
    left: 35px;
    }*/



    .more-packages ul {
    	padding-left: 0rem;
    	margin: 0;
    	columns: 2;
    	-webkit-columns: 2;
    	-moz-columns: 2;
    }
    .more-packages ul li {
    	list-style-type: none;
    	position: relative;
    	padding-left: 40px;
    	font-size: 1.1rem;
    }

    .more-packages ul li:after {
    	position: absolute;
    	height: 1px;
    	width: 35px;
    	content: "";
    	background: #272727;
    	top: 52%;
    	left: -8px;
    }


    span.subsequent {
    	padding-left: 33px;
    	font-size: 1.2rem;
    }
    .col-md-6.packages .packages,  {
    	margin-top: 0;
    }

    .col-md-6.packages .col-md-12.packages {
    	margin-top: 2rem;
    }


    .side-heart {
    	max-width: 70px;
    	position: absolute;
    	top: -20px;
    	left: 20px;
    }




    .timeline {
    	position: relative;
    	max-width: 900px;
    	margin: 0 auto;
    	padding-top: 100px;
    	padding-bottom: 100px;

    	background-color: inherit;
   // @media (min-width: 999px) {
   // 	padding-top: 0
   // }
}

.timeline:after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #272727;
	left: 50%;
	top: 0;
	bottom: 0;
	margin-left: -2px;
}

.timeline--first:after {
	top: 20px;
}



.timeline-entry {
	padding: 5px 30px 40px 0px;
	width: 50%;
	position: relative;
	background-color: inherit;
	list-style-type: none;
}



.entry--right {
	margin-left: 50%;
}

.entry__content {
	position: relative;
	cursor: default;
	transition: all 0.3s ease 0s;
	z-index: 3
}

.entry__content:hover {
	background-color: #FFFFFF;
}

.timeline-entry:before {
	content: " ";
	height: 0;
	position: absolute;
	top: 20px;
	width: 0;
	z-index: 1;
}

.timeline-entry:after {
	content: '';
	position: absolute;
	width: 28px;
	height: 28px;
	right: 23px;
	background-color: #fff;
	border: 1px solid #272727;
	top: 18px;
	border-radius: 50%;
	z-index: 1;
}

.entry--right:after {
	right: auto;
	left: -33px;
}

.timeline-entry h2 {
	margin-bottom: 0.5em;
	font-size: 1.0rem;
	font-family: Goku, 'Abril Fatface', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 0.5rem;

}

.timeline-entry.entry--left {
	text-align: right;
	padding-right: 29px;
}

.timeline-entry h2:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	right: -7px;
	background: #272727;
	bottom: 0;
}

.timeline-entry.entry--right h2:before {
	right: 6px;
}


.timeline-entry.entry--left h2 {
	text-align: right;
	margin-right: 12px;
}

.timeline-entry p {
	color: #686868;
	font-size: 1.2rem;
	line-height: 1.4;
	padding: 10px 0;
}

.timeline-entry.entry--left p {
	margin-right: 12px;
}

.timeline-entry h2:after {
	content: "";
	background: #272727;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 6px;
	bottom: -4px;
}

.entry--right.timeline-entry h2:after {
	left: auto;
	right: 6px;
}


.timeline-entry span {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #272727;
	border-radius: 50%;
	top: 22px;
	z-index: 14;
	right: 3px;
}

.timeline-entry.entry--right span {
	left: -24px;
	right: auto;
}

.timeline-dots {
	position: relative;
	padding: 5px 30px 40px 0px;
	width: 50%;
	position: relative;
	background-color: inherit;
	list-style-type: none;
}

.timeline-dots:before {
	content: "";
	height: 10px;
	width: 10px;
	top: -100px;
	background: #272727;
	border-radius: 50%;
	position: absolute;
	right: 17px
}

.timeline-dots.timeline-dots-end:before {
	top: auto;
	bottom: -100px;

}




@media all and (max-width: 500px) {
	.timeline:after {
		left: 33.75px;
	}
	.era {
		text-align: left;
		padding-left: 31.875px;
	}
	.timeline-entry {
		width: 100%;
		margin-left: 0;
		padding-left: 64px;
		padding-right: 20px;
	}
	.timeline-entry:before {
		right: auto;
		left: 56px;
		margin-left: 0;
	}
	.timeline-entry:after {
		left: 15px;
	}
}




.portfolio {
	margin-top: 0vw;
}

.portfolio-inner {
	margin-bottom: 5vw
}

.site-content .portfolio-inner {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	@media screen and (max-width: 998px) {

		height: 300px;

		img.swirle {
			bottom: -20px;
		}

	}

		@media screen and (max-width: 480px) {

    height: 212px;
}
}


.portfolio-header {
	position: relative;
	z-index: 4;
	max-width: 700px;
	margin: 0 auto;
	transition: 0.3s;



	@media (min-width: 999px){
		margin-top: -150px;

		&.portfolio-header-works {
			margin-top: -70px;
		}
	}

	@media (max-width: 998px){
		margin-top: -100px;
	}

	@media (max-width: 768px){
		margin-top: 0px;


	}
}

.portfolio-header h3 {
	margin-bottom: 10px;
	position: relative;
	font-family: Shoelaces, cursive;
	font-size: 2.6rem;
}

.portfolio-header h3 span {
	position: relative;
}



.portfolio-header h3 span:before {
	content: "";
	background-image: url(img/heart.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	right: -25px;
}


/*.portfolio-header h3 span:after {
    content: "";
    position: absolute;
height: 40px;
width: 1px;
background: #272727;
left: 50%;
top: -40px;
}
*/
.portfolio-header p{
	font-size: 1.2rem;
	position: relative;
}



.showcase {
	margin: 0;

}
.showcase img {
	max-width: 100%;
	margin-bottom: 7vw;
}

/*.showcase.web-image img {
	margin-bottom: 0;
	}*/

	p.showcase-blob {
		font-size: 1.2rem;
		position: relative;
		margin-top:80px;
	}

	.showcase-blob:before {
		content: "";
		position: absolute;
		height: 50px;
		width: 1px;
		background: #272727;
		left: 50%;
		top: -60px;
		z-index: 9
	}

	.showcase-options p {
		font-size: 1.2rem
	}

	.showcase-options h3  {
		font-size: 1.1rem;
		font-weight: 300
	}

	.showcase-options h3 span {
		position: relative;
		font-family: Goku, Abril, sans-serif;
		margin-right: 70px;
	}

	.showcase-options h3 span:after {
		position: absolute;
		height: 1px;
		width: 45px;
		content: "";
		background: #272727;
		top: 42%;
		left: 35px;
	}

	.showcase-options h2 {
		font-family: Goku, Abril, sans-serif;
		font-size: 1.4rem
	}




	/*** Comments ***/

	h2.comments-title, h3#reply-title {
		text-transform: uppercase;
		font-size: 1rem;
		position: relative;
		padding: 0 10px;
		z-index: 1;
		display: inline-block;
		font-weight: 500;
		margin: 20px auto;

	}

	h2.comments-title:after, h3#reply-title:after {
		content: "";
		background: #EBF0F6;
		height: 8px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0;
		z-index: -1;
	}


	button, input[type="button"], input[type="reset"], input[type="submit"] {
		border: 1px solid;
		border-color: transparent;
		border-radius: 0px;
		background: #272727;
		color: white;
		font-size: 12px;
		font-size: 0.95rem;
		line-height: 1;
		padding: 0.8em 1.2em;
		font-family: futura-pt, sans-serif;
	}

	p.form-submit {
		margin-top: 40px;
	}

	.comment-form-author, .comment-form-email, .comment-form-url {
		float: left;
		width: 33.3%;
	}
	.comment-respond label {
		display: none;
	}

	#respond .comment-form-author input, #respond .comment-form-email input, #respond .comment-form-url input {
		width: 100%;
		padding: 16px 16px;
		border-left: none;
		font-size: 11px;
		margin-bottom: 0;
		border-radius: 0
	}


	#respond .comment-form-author input {
		border-left: 1px solid #eaeaea;
		font-family: futura-pt, sans-serif;

	}



	#respond textarea {
		padding: 14px;
		height: 140px;
		font-size: 13px;
		color: #777;
		margin-bottom: -7px;
		line-height: 20px;
		border-radius: 0

	}

	p.comment-form-comment {
		margin-bottom: 0;
	}



	input::placeholder {
		color: #b9b9b9;
		font-family: futura-pt, sans-serif;

	}


	.thecomment {
		border-bottom: 1px dotted #eaeaea;
		padding-bottom: 34px;
		margin-bottom: 34px;
	}

	.thecomment .author-img {
		float: left;
		margin-right: 20px;
	}

	.thecomment .author-img img {
		border-radius: 100%;
		max-width: 60px;
		height: auto;
	}


	.thecomment .comment-text {
		overflow: hidden;
	}


	.post-comments span.reply a {
		float: right;
		font-size: 10px;
		color: #272727;
		padding: 3px 8px 4px 8px;
		margin-left: 7px;
		-o-transition: .25s;
		-ms-transition: .25s;
		-moz-transition: .25s;
		-webkit-transition: .25s;
		transition: .25s;
		position: relative;
		text-transform: uppercase;
	}

	.post-comments span.reply a:after {
		content: "";
		background: #EBF0F6;
		height: 8px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0;
		z-index: -1;

	}


	.thecomment .comment-text span.author, .thecomment .comment-text span.author a {
		display: block;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 4px;
		color: #272727;
	}

	.thecomment .comment-text span.date {
		font-size: 12px;
		color: #999;
		text-transform: none;
		display: block;
		margin-bottom: 12px;
		letter-spacing: 0;
	}

	.post-entry p, .entry-content p, .comment-text p, .entry-summary p {
		margin-bottom: 20px;
		color: #222;
	}

	.thecomment .comment-text p {
		margin-bottom: 18px;
	}

	.thecomment .comment-text p:last-child {
		margin-bottom: 0;
	}


	/**** Get More Mail ***/

	.got-mail {
		margin: 0;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.mail-text {
		font-size: 1.4rem;
		padding-top: 0;
		position: relative;
		z-index: 4;
	}

	a span.footer-button {
		border: 1px solid #272727;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		text-transform: lowercase;
		width: 100%;
		display: inline-block;
		font-size: 1rem
	}

	.mail-text p {
		margin-bottom: 19px;
		font-size: 1.7rem;
		padding-top: 1.4rem;
	}



	.btn-11 {
		position: relative;
		color: #272727;
		overflow: hidden;
		cursor: pointer;
	}
	.btn-11:before, .btn-11:after {
		position: absolute;
		top: 50%;
		content: '';
		width: 20px;
		height: 20px;
		background-color: #272727;
		border-radius: 50%;
		z-index: -1
	}
	.btn-11:before {
		left: -20px;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.btn-11:after {
		right: -20px;
		-webkit-transform: translate(50%, -50%);
		transform: translate(50%, -50%);
	}
	.btn-11:hover {
		color: #fff;
	}
	.btn-11:hover:before {
		-webkit-animation: criss-cross-left 0.8s both;
		animation: criss-cross-left 0.8s both;
		-webkit-animation-direction: alternate;
		animation-direction: alternate;
	}
	.btn-11:hover:after {
		-webkit-animation: criss-cross-right 0.8s both;
		animation: criss-cross-right 0.8s both;
		-webkit-animation-direction: alternate;
		animation-direction: alternate;
	}

	a.footer-href:after {
		width: 15px;
		height: 15px;
		border-right: 1px solid #272727;
		border-bottom: 1px solid #272727;
		position: absolute;
		content: "";
		bottom: 5px;
		right: 11px;

	}

	@keyframes criss-cross-left {
		0% {
			left: -20px;
		}
		50% {
			left: 50%;
			width: 20px;
			height: 20px;
		}
		100% {
			left: 50%;
			width: 375px;
			height: 375px;
		}
	}
	@-webkit-keyframes criss-cross-right {
		0% {
			right: -20px;
		}
		50% {
			right: 50%;
			width: 20px;
			height: 20px;
		}
		100% {
			right: 50%;
			width: 375px;
			height: 375px;
		}
	}
	@keyframes criss-cross-right {
		0% {
			right: -20px;
		}
		50% {
			right: 50%;
			width: 20px;
			height: 20px;
		}
		100% {
			right: 50%;
			width: 375px;
			height: 375px;
		}
	}


	.grid {
		max-width: 1200px;
	}

	/* reveal grid after images loaded */
	.grid.are-images-unloaded {
		opacity: 0;
	}

	.grid__item {
		  margin-bottom: 2%;

	}

	.grid__item,
	.grid__col-sizer {
		width: 48%;


	}

	.grid__gutter-sizer { width: 2%; }

	/* hide by default */
	.grid.are-images-unloaded .image-grid__item {
		opacity: 0;
	}

	.grid__item {
		
		float: left;
	}

	.grid__item--height1 { height: 140px; background: #EA0; }
	.grid__item--height2 { height: 220px; background: #C25; }
	.grid__item--height3 { height: 300px; background: #19F; }

	.grid__item--width2 { width: 66%; }

	.grid__item img {
		display: block;
		max-width: 100%;
	}


	.page-load-status {
		display: none; /* hidden by default */
		padding-top: 20px;
		border-top: 1px solid #DDD;
		text-align: center;
		color: #777;
	}

	/* loader ellips in separate pen CSS */



	.modal-content {
		border-radius: 0 !important;
	}

	.modal-body {
		padding: 3rem 3rem 0;
	}
	.wpcf7 input, .wpcf7 textarea {
		width: 100%;
		border: 1px solid #f3f3f3ff;
		display: block;
		padding: 8px 13px;
		margin: 0.6rem 0 1rem;
		position: relative;
		outline: none;
		border-radius: 0 !important
	}



	button.usual, .wpcf7 .wpcf7-submit {
		padding: 0px 8px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9rem;
		position: relative;
		z-index: 0;
		width: auto;
		border: 0 !important;
	}

	.wpcf7 textarea {
		max-height: 150px;
	}

	.usual:before {
		width: 100%;
		height: 8px;
		content: "";
		background: #EBF0F6;
		left: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}

	.wpcf7 .wpcf7-submit {
		background: #272727;
		color: white;
		padding: 10px 15px;
		cursor: pointer;
	}

	.modal-footer {

		border-top: 1px solid #f3f3f3ff;

	}



	span.wpcf7-list-item.first {
		margin-left: 0;
	}


	.wpcf7 label {
		font-weight: 500;
	}

	.wpcf7 span.wpcf7-list-item label {
		font-weight:  300;
	}

	.wpcf7 input[type="checkbox"] {
		display: inline-block;
		width: auto;
	}





	/**** Responsive ***/


	@media (max-width: 998px) {

		.navbar {
			padding-bottom: .5rem
		}

		.wrapper {
			display: block;
		}

		.welcome {
			display: flex;
			align-items: flex-start;
			height: auto;
		}

		.welcome.slant-reverse:after {
			display: none
		}



		.side-image {
			width: 100%;
			max-width: 100%;
			float: none;
			height: 340px;
			margin: 0 auto;
			overflow: hidden;
		}


		.welcome-heading {
			font-weight: 700;
			position: relative;
			left: 0;
			z-index: 0;
			line-height: 27px;
			top: 0;
			letter-spacing: 2px;
			font-size: 27px;
			align-items: center;
			justify-content: center;

			br {
				display: none;

			}

			.cursive {
				padding: 0 5px;
			}
		}

		.welcome-heading:after {
			display: none;
		}

		.welcome-text {
			width: 100%;
			padding: 10px 0;
			position: relative;
			z-index: 4;
			left: 0;
			 max-width: 650px;
    		margin: 0 auto;

		}


		.nav-link{
			padding-right: 0.5rem !important;
			padding-left: 0.5rem !important;
		}


	}


	@media (min-width: 768px) {


		.nav-link{
			padding-right: 1.5rem !important;
			padding-left: 1.5rem !important;
		}

	}

	@media (max-width: 768px) {


		header.site-header {
			border-bottom: 1px solid #272727;
		}

		.brand-feature {
			order: -1;
			text-align: center;
		}


		a.navbar-brand {

			img {
				width: 200px;
			}

			padding: 0;

		}

		.navbar.navbar-light {
			padding: 0.9rem 0rem;
			background: white;
			width: 100%

		}

	}


	body.home  {



		.slanted:before {
			border-bottom: 33vw solid transparent;
			display: block
		}

		.slanted:after {
			border-top: 22vw solid transparent;
		}

	}

	.reverse {
		height: auto;
	}

	.module {
		margin-left: auto;
		margin-right: auto;
		position: relative;

		// &:before {

		// content: "";
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 102%;
		// height: 60px;
		// }
		padding: 20px;
	}
	

	.numbering {
		display: flex;
		align-items: center;
		margin: 3rem auto;
		width: 200px;
		z-index: 8;
		position: relative;
	}

	.col-md-4.brand-img {
		text-align: center;
	}

	.featured-blog .blog-heading {
		writing-mode: unset;
		float: none !important;
	}

	.blog-excerpt {
		background: white;
		padding: 20px 20px;
		font-size: 1.2rem;
		margin: -21px auto 50px;
		max-width: 400px;
		position: relative;
		right: 0;
		margin-bottom: 50px;
	}

	a.read-it {
		right: 27px;
	}

	div#sbi_images {
		float: none;
		text-align: center;
	}

	#sb_instagram .sbi_photo {
		height: 135px !important
	}

	#sb_instagram.sbi_col_10 #sbi_images .sbi_item, #sb_instagram.sbi_col_3 #sbi_images .sbi_item, #sb_instagram.sbi_col_4 #sbi_images .sbi_item, #sb_instagram.sbi_col_5 #sbi_images .sbi_item, #sb_instagram.sbi_col_6 #sbi_images .sbi_item, #sb_instagram.sbi_col_7 #sbi_images .sbi_item, #sb_instagram.sbi_col_8 #sbi_images .sbi_item, #sb_instagram.sbi_col_9 #sbi_images .sbi_item {
		width: 50%;
		height: 50%;
	}






	.site-content {
		position: relative;

		.slanted:before {
			display: none;
		}
	}

	.follow-text {
		letter-spacing: 0;
		font-size: 1.5rem;
		padding: 10px 0;
		font-weight: 500;
		margin-left: 12px;
		position: relative;
		margin-top: 16px;
	}

	.footer-nav {
		margin-bottom: 0px;
	}


	a span.footer-button {
		border: 1px solid #272727;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-transform: lowercase;
		width: 100%;
		display: inline-block;
		font-size: 0.9rem;
	}


	.nav-item {
		font-size: 1rem;
		text-transform: lowercase;
		letter-spacing: 1px;
		font-weight: 500;
		line-height: 0.9rem;
		font-family: Goku;
		display: inline-block;
		padding: 0;

		@media screen and (max-width: 998px) {
			padding: 0;

		}
	}

	.site-header ul {
		margin: 0;
		padding: 0;
		display: block;
		text-align: center;
	}





	section.move-up:after {
		display: none;
	}

	.timeline-entry {
		padding: 5px 30px 40px 0px;
		width: 100%;
		position: relative;
		background-color: inherit;
		list-style-type: none;
		padding-right: 29px;
	}


	.entry--right {
		margin-left: 32px;
	}

	.timeline-entry.entry--left { 
		text-align: left;
		padding-right: 29px;
		width: 100%;
		float: none;
	}

	.timeline:after {
		left: 55px;


	}

	.timeline-entry.entry--left h2 {
		text-align: left;
		margin-left: 31px;
	}

	.timeline-entry.entry--left p {
		margin-left: 31px;
	}


	.timeline-entry h2:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		right: 9px;
		background: #272727;
		bottom: 0;
	}

	.timeline-entry h2:after {
		content: "";
		background: #272727;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		left: -23px;
		bottom: -4px;
	}

	.timeline-dots:before {
		right: auto;
		left: 9px;
	}


	.all-packages {
		padding-bottom: 3em;
		order:-1;

		@media (max-width: 768px) {
			margin-top: 2rem;
			    padding-bottom: 0;
		}
	}

	.showcase-item {

		.all-packages {
			padding-bottom: 0;
			margin-top: 2rem;
			border-bottom: 1px solid;

		}

	}

	.row.offer_row:last-child .all-packages{
		border: 0 !important
	}

	.img-package {order:-2}

	.featured.slanted {
		margin-bottom: 2vw;
		height: auto;
		padding-top: 5rem;
	}

	.featured span.blog-heading {
		left: -45px;
		z-index: 9;
		writing-mode: unset;
		float: none !important;
		left: 0;
		top: -28px;
		margin-bottom: 18px;
		position: relative;
	}

	.feature {
		margin-top: 0;
		margin-bottom: 2rem
	}

// ul#menu-left-menu {
// 	@media screen and (min-width: 768px) {
// 	    margin-top: 20px;

// 	}
// }

.post-meta {
	padding: 20px 0;

}

.post-meta ul li {
	list-style: none;
	border-right: 1px solid #272727;
	padding-left: 5px;
	padding-right: 5px;
}

.share-block {
	max-width: 48px;
	position: absolute;
	left: -40px;
}
.share-block.portfolio-share{
	right: -40px;
	left: auto;
	top: 7vw;
}

.footer-block:after {
	display: none;
}

section.featured-blog.slightly {
	padding-top: 12vw;
	height: auto;
}
.nombre:before {
	top: -58px;
}

.welcome-heading {
	max-width: 100%;
}

section.welcome.slanted {
	height: auto;
}

section.about {
	margin-bottom: 5rem;
		padding: 8rem 0;

		.beneath:after, .underneath:before {
			background-color: white
		}


	@media (max-width: 768px) {
		.inner-wrapper .row .col-md-6:last-of-type {
			order: 0;
			margin: 2.5rem auto;
		}

		.inner-wrapper .row .col-md-6:first-of-type {
			order: 1;
			text-align: center;


		}
	}
}







@media (max-width: 480px) {

	.welcome .container .wrapper {
		padding: 2rem 0;
		display: flex;
	}

	.navbar-light  {

		padding: 1rem;

		.navbar-brand {

			padding: 2px;
			margin-right: 0;

			img {
				width: 153px;
			}

		}

	}






	.inner-wrapper {

		padding: 0rem;
	}

	.blog-image {
		float: none;
		text-align: center;
	}


	.side-image {
		height: 240px;

	}

}


@media (min-width: 576px) and (max-width: 768px) {
	.container {
		max-width: 95%;
	}

}






/* Loader 5 */
.loader-5 {
	height: 40px;
	width: 40px;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	margin: 0 auto;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 10px;
	height: 10px;
	background: #dce7f5;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	background: #dce7f5;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 40px;
	width: 40px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	background: #dce7f5;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	background: #dce7f5;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}





.grecaptcha-logo, .grecaptcha-badge {
	display: none !important
}


.site-main {
	@media (max-width: 768px) {
		img.swirle {
			display: none;
		}
	}
}

header.site-header  {
	@media (max-width: 768px) {
		&.header-fixed {
			padding: 0;
		}

		

	}
	.navbar.navbar-light {

		@media (min-width: 769px) {


}
		@media (max-width: 768px) {

			> .container {
				        flex-wrap: wrap;
			}


			padding: 0.9rem 0;

			.navbar-toggler {
		    display: block;
		}

			.navbar-collapse  {

				border-top: 1px solid;
				margin: 1rem 0 0;
				    flex-wrap: wrap;
				    border-bottom: 0 !important;


				&:not(.show) {
					display: none !important;
				}
			}

			.navbar-toggler {
				margin-right: 25px;
				outline: 0 !important;
			}
			.navbar-brand {
				padding: 0;
				padding-left: 25px;

				img {
					width: 144px;
				}
			}
		}



		.menu-left-menu-container {
			margin: 0;

			@media (min-width: 769px) {
				.navbar-nav {
					flex-direction: row;
				}

				margin: 0 -1.5rem;
			}

			@media (max-width: 768px) {
				ul {

					padding: 1rem;

					> li {
						width: 50%;
					}


				}
			}

		}
	}

}



@media (max-width: 768px) {
	.welcome-text {


		img.swirle {
			display: none;
		}

	}

}

@media (max-width: 768px) {


.service-col:first-of-type {
	margin-top: -150px
}

}


.module {
	background: white;
	position: relative;
	z-index: 3;



	a {
		color: #272727;
	}
	img {
		max-width: 100%;
	}

	.module-text {
		padding: 10px 15px;
	}

	h4 {
		font-family: Goku, 'Abril Fatface', cursive;

	}

	p {
		font-size: 1rem;
	}


	@media (max-width: 768px) {
		max-width: 500px;
		margin-top: 0;



	}


}



@media screen and (min-width: 769px){
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item {
    width: 25% !important;
}

#sb_instagram .sbi_photo {
    height: 165px!important;
}
}


section.brands {
    margin: 0 auto;
}


.segmented-control {
		@media (max-width: 768px) {

width: 100%;
}
}



.wow {
  visibility: hidden;
}